/* Error: Undefined variable.
 *    ,
 * 27 |   background-color: $main-background-color;
 *    |                     ^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   kmom02/scss/container.scss 27:21  @import
 *   kmom02/scss/style.scss 9:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 27 \2502    background-color: $main-background-color;\a    \2502                      ^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   kmom02/scss/container.scss 27:21  @import\a   kmom02/scss/style.scss 9:9        root stylesheet";
}
