
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $main-background-color;
}

.main img {
  width: 500px;
}

.header,
.footer {
  flex: 0 0 auto;
}

.main {
  width: 100%;
  flex: 1 0 auto;
  max-width: 64rem;
  padding: 2rem;
  margin: 0 auto;
  background-color: $main-background-color;
}


img {
  float: left;
  margin: 0 20px 20px 0;
  max-width: 300px;
  height: auto;
  border-radius: 30px;
}
