.header {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  border-bottom: 4px solid #e40707;
}

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  font-size: 2rem;
  color: #fff;
}

.header p {
  color: #fff;
}

.title a {
  color: #fff;
}
