.header {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: #0d2d42;
  border-bottom: 2px solid #fff;
}

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.nav a {
  font-size: 2rem;
  color: $main-font-color;
}

.header p {
  color: #fff;
}

.title a {
  color: #fff;
}
