.landing-page {
  display: grid;
  gap: 1.96rem;
  margin-bottom: 1.96rem;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.landing-page h1 {
  grid-column: span 3;
  justify-self: center;
}

.box {
  border: 1px solid #ccc;
  padding: 1.96rem;
}

.box:hover {
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.2);
}

.python {
  grid-column: span 3;
}

.css {
  grid-column: span 1;
}

.html {
  grid-column: span 2;
}

.javascript {
  grid-column: span 2;
}

.php {
  grid-column: span 1;
}

.sqlite {
  grid-column: span 2;
}

.git {
  grid-column: span 1;
}

@media (max-width: 768px) {
  .landing-page {
    grid-template-columns: 1fr;
  }

  .css,
  .html,
  .javascript,
  .php,
  .python,
  .sqlite,
  .git {
    grid-column: span 3;
  }
}

.technology {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.technology .article {
  width: 60%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.technology .menu {
  width: 30%;

  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 1.96rem;
  }
}
